body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif
}

.greenh {
  color: #007765;
}

.white {
  color: white;
}

.mainMain {
  margin: 0px;
  padding: 0px;
  
}

.headr {
  background-color: #007765;
  display: flex;
  justify-content: center;
}

.limHead {
  width: 1219px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white
}

.logoMain {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoImg {
  background-color: white;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logoText {
  
}

.menu {
}

.table {
  width: 100%;
}

